p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #6f6f6f;
}
h4 {
	font-family: 'Source Sans Pro' , sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #151515;
}
.container {
	border: 1px solid #e5e5e5;
	background-color: #f7f7f7;
}
.container .alexa-singer {
	display: flex;
}
.container .alexa-singer .singer_scene {
	border: 1px solid #e5e5e5;
}

.container .alexa-singer .singer_scene img {
	width: 100%;

}
@media screen and (max-width: 800px) {
	.container .alexa-singer {
		display: grid;
		grid-template-columns: 1fr;
	}
}

